{% extends "layout.html" %}
{% block body %}

<div class="heading">
    <h2>あなただけのcloudを作ろう！</h2>
</div>

<div class="img_center">
    <img id="img_cloud" src="{{ url_for('static', filename='images/cloud.png') }}">
</div>

<div id="top_contents">
    <div class="heading">
        <h2><i class="fab fa-cloudversify fa-lg"></i> TWECLOUDとは？</h2>
    </div>
    <div class="description">
        <p>TWECLOUDはあなたのツイートからワードクラウドを作成するサービスです。</p>
    </div>
    <div class="btn_wrap">
        <a href="{{ url }}" class="square_btn"><i class="fab fa-twitter fa-lg"></i> ログインして作る</a>
    </div>
    <div class="heading">
        <h2><i class="fas fa-user-secret fa-lg"></i> プライバシーに関して</h2>
    </div>
    <div class="description">
        <p>
            TWECLOUDはデータベースにあなたのアカウント情報を保存しません。<br>
            安全に利用することができます。
        </p>
    </div>
</div>


{% endblock %}
